*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

nav{
    height: 60px;
    width: 100%;
    background-color: bisque;
}

label.logo{
    color: black;
    font-size: 36px;
    padding: 0 100px;
    font-weight: bold;
    line-height: 60px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin:0 5px;
}

nav ul li a {
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}